/* imports 
---------------------*/
html {
  box-sizing: border-box; }

*, *::after, *::after {
  box-sizing: inherit; }

body {
  margin: 0; }

header {
  /* border: 2px solid red; */
  height: 937px;
  background: url("../../images/man-1253004_1920.jpg") no-repeat fixed center;
  background-size: cover;
  margin-bottom: 0; }

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 15% 550px;
  font-family: 'Bangers', cursive; }

.logo {
  width: 140px;
  height: 14px;
  margin-top: 15px;
  margin-bottom: 0; }

.top-nav {
  /* border: 2px solid red; */
  position: fixed;
  top: 0;
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
  align-items: baseline;
  color: white;
  z-index: 10; }

.logos {
  margin-top: 10px;
  font-size: 1.8rem; }

.top-nav a {
  text-decoration: none;
  margin: 10px;
  text-transform: uppercase;
  background: transparent;
  font-size: 1.8rem; }

.header-text {
  grid-column-start: 2;
  grid-row-start: 2;
  align-self: center;
  text-align: center;
  font-size: 2rem;
  color: white; }
  .header-text h1 {
    font-family: 'Bangers', cursive;
    font-size: 3.5rem; }

.btn {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
  align-self: flex-end;
  font-size: 1.4rem;
  width: 100px; }

.about {
  background-color: #FDFFFC;
  text-align: center;
  height: 300px;
  font-size: 1.2rem;
  clear: both;
  position: relative; }

.about-text {
  position: absolute;
  width: 900px;
  left: 50%;
  margin-left: -450px;
  top: 50%;
  margin-top: -100px; }

.next {
  text-decoration: none; }

.main-section, .education {
  position: relative;
  background-color: #011627;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white; }
  .main-section h1, .education h1 {
    font-family: 'Bangers', cursive;
    font-size: 3.5rem;
    margin-top: 50px;
    margin-bottom: 50px; }

.goal-content {
  margin: auto;
  margin-bottom: 100px;
  max-width: 50vw;
  text-align: left; }
  .goal-content h2 {
    text-transform: uppercase; }

img {
  margin-right: 20px;
  float: left;
  height: 200px; }

.pic-right img {
  float: right; }

.vl {
  display: block;
  border-left: 2px solid #FDFFFC;
  height: 50px;
  left: 50%;
  position: relative;
  margin-left: -1px;
  margin-bottom: 50px; }

.education {
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
  position: relative;
  color: black;
  background-color: #FDFFFC; }

.education-heading {
  text-align: center; }
  .education-heading h1 {
    font-family: 'Bangers', cursive;
    font-size: 3.5rem;
    margin-top: 50px;
    margin-bottom: 50px; }

.education-content {
  width: 400px; }

.footer {
  height: fit-content;
  padding: 10px;
  background-image: url(../../images/pexels-photo-821754.jpeg);
  background-position: center;
  background-repeat: no-repeat; }

.message {
  display: flex;
  flex-direction: column; }
  .message input, .message button {
    align-self: center;
    width: 500px;
    margin: 10px; }

.input {
  font-size: 18pt; }

.text {
  max-height: 200px;
  align-self: center; }

.contact {
  width: 50%;
  margin: auto;
  background: white; }

.logos {
  margin-top: 50px;
  text-align: center;
  font-size: 50px; }

.contact div:first-of-type, .contact button {
  color: white;
  background-color: #011627; }

/*# sourceMappingURL=styles.css.map */
